/Client/.classpath
/Client/.factorypath
/Client/.project
/Client/.settings
/Client/.vscode
/Client/Client_Logs
/Client/Client_Seq_Store
/Client/logs
/Client/target
/Server/target
/Server/.settings
/Server/.vscode
/Server/logs
/Server/Server_Logs
/Server/Server_Seq_Store
/Server/.factorypath
/Server/.project
/Server/.classpath
